/bootstrap/compiled.php
/vendor
/app/config/local
/app/config/mail.php
/app/filters.php
/app/routes.php
/public/images
/public/files
/public/uploads
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
