@import url('http://fonts.googleapis.com/css?family=Lato:100');

@import "compass/css3";


@font-face {
    font-family: metropolice;
    src: url(Metropolis_1920.otf);
}

@font-face {
    font-family: Lato;
    src: url(Lato_Hairline.ttf);
}

body, html {
-webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 750px;
  background: #f2f2f2;
}


 /*nav.navbar  ul  li a:hover  { 
  background: orange; 
  color:#green;
}*/


a.navbar-brand {
  float: left;
  font-size: 30px;
  display: block;
  height: 60px;
}


div.top-container {
  margin-bottom: 30px;
}

nav.primary-nav, footer {
  margin: 0 auto;
  max-width: 1180px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;

}

 .navbar-header {
  /*height: 75px;*/
  margin-right: 50px;
} 

.navbar-top {
  padding-top: 10px;
  
}

div.navbar-header:active {
  outline: none;
}

div.error-display {
  color: red; 
}




p.hellouser {
  margin: 0;
  float: right;
}

.error-disp {
  color: red;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
}

ul > li > a {
   font-size: 14px;
}


.alt1 {
  min-height: 750px;
  max-width: 960px;
  text-aline: center;
}

.alt2 {
  background: #333;
  min-height: 400px;
  color:#fff;
  bottom: 0;
}

/* main nav item hover effect*/
.navbar-top .main-nav:hover a.nav-item {
  color: rgba(0,0,0,0.7);
}

.navbar-top .main-nav a.nav-item {
  color : #fff;
  font-weight: 600;
}

.primary-nav  .navbar-top > li {
   /*height: 80px*/
}

/* dropdown background color*/
.dropdown .dropdown-menu {  
    border-top : solid 2px #b3b3ff;
    background: rgba(0,0,0,0.7);
}

/* dropdown menu item hover color*/
ul.navbar-top li.dropdown ul li a:hover  {
  background: #b3b3ff;
  color: #fff;  
}

ul.navbar-top  li > a > span.glyphicon {
  font-size: 18px;
  margin-right: 10px;
  line-height: 15px;
}

 /* dropdown font color*/
ul.navbar-top li.dropdown ul li a  {
  color: #ccccff;  
  font-weight: 700;
}



.home-container{
  width: 100%;
}

.home-posts-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

article {
  text-align: left;
}

.navbar-default{
  background: transparent !important;
  border-color: transparent !important;

}

div.top-container {
  background: rgba(96, 115, 159, 0.8); /* rgb(159, 175, 198); #9999CC;*/
  /*border-bottom: solid 1px #99bbff;*/
}


/*************************  navbar-toggle       **********************/

.navbar-toggle.custom {
    margin: 0;
    border:none;
}

button.navbar-toggle.custom:hover {
    background : transparent;
}


.icon-bar.custom:before {
    
}

button.navbar-toggle.custom:hover  .icon-bar.custom{
    background-color : rgba(0,0,0,0.5);
}


.navbar-toggle.custom .icon-bar.custom {
    width:40px;
    height: 4px;
    background-color: #fff;
    font-weight: 900;
}




 /*************** contact page **********/
.contact-header { 
   font-family: 'Lato';
   color: #B0BEC5;
   /*color: green;*/
   text-align: center;
   margin-bottom: 100px;
}

div.contact-title {
  font-size: 80px;
  margin-bottom: 40px;
}


.contact-info {
  font-family: monospace;
  display: block; 
  margin-left: 40%;
  color: #888; 
}

.contact-info>span{
  font-size: 20px;
   color: #B0BEC5;
}

.contact-me {  
    width: 100%;
    min-height: 200px;
    
}

.contact-me>div{
  display: inline-block;
  float: left;
}

.contact-me-img {  
    width: 35%;
    height: 200px;
    padding-top: 40px;
    padding-right: 25px;
    
}

.contact-me-img img {  
   float: right;
}

.contact-me-desc{  
    width: 65%;
    height: 200px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 10px;
    line-height: 1.8em;
}


/*#test1 p {
    
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}*/




.anim p, .anim div, .anim a, .anim img, .anim {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sign-in-btns>a {
   display: block;
   float: right;
   text-decoration: none;
   color: #555;
   font-size: 12px;
   margin-top:15px;
}
.secondary-nav {
  margin-top: 10px;
}

.secondary-nav li {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 20px;
  border-right: solid 2px #eee;
}



.secondary-nav ul li a {
  text-decoration: none;
  margin: 5px;
  font-family: cursive;
  font-weight: 700;
  color: #B0BEC8;
}
.secondary-nav ul li a:hover{
  color:red;
}

/*.zeroed {
  margin: 0!important;
  padding: 0!important;
}
*/
#links{
  max-width: 750px;
}
.gallery-nav {
  max-width: 750px;
  background: ;
}
.gallery-nav li a {
  margin: 20px;
}

/**************   Posts *********** */

.posts-row-wrap {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
 
.posts-row {
  
  margin: 0 auto;
  padding: 0;
  height: 250px;
}

.make-center {
    margin-left: auto;
    margin-right: auto;
    width: 74%;
    margin-top: 30px;
    margin-bottom: 30px; 
}


.article-blocks { 
  display: inline-block;
  width: 220px;
  height: 250px;
  background: #ffffff;
  float: left;
  padding-left: 5px;
  margin-right: 30px;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  /*box-shadow: 1px 1px 1px 1px #ccc;*/
}

.article-blocks:hover {
   /*border-top: 1px solid #9999FF; */
   box-shadow: 0 0 0 1px #8291ff;;
   background: #fff;
}


p.published-on {
  position: relative;
  color:#bbb;
  font-family:monospace;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;
}



.post-title {
  margin-top: 10px; 
  font-size: 1.0em;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.post-title-thumbnail{
   color: #5f5bec;
}

.post-title-main {
  color: #7d97ed;;
}

.post-title:hover{
  color: #5f5bec;
  text-decoration: none;
}

.read-more {
  color: #5f5bec;
  /*position: absolute;*/
  
  padding-left: 5px; 
}

/*.article-blocks>div{
  display: inline-block;

}*/

.article-blocks .post-body{
  text-align: left;
}

.post-manip {
  background: #eee;
  position: relative;
  height: 23px;
}

.post-manip>p{
  float: right;
  margin-bottom: 0;
}



/*@keyframes show-post-maip {
  from {display: none;}
  to{display: block;}
}*/


.post-highlight  {
  display: inline-block;
}

.post-title-header {
  height: auto;
  margin-top: 10px;
  width: 100%;
}

.create-post {
 margin: 10px;
}

.delete-post-btn {
 width: auto;
 margin-top: 15px;
 margin-right: 50px;
 float:right;
}

.post-manip.btns {
  
}

.form-edit-post { 
  width: 700px;
}

.form-create-post {
  max-width: 800px;
}


/**********************  Panels setting *****************************/


div.panels  {
 width: auto;
 margin: 0 auto;
 width: 75%;
}

div.signup-panel {
  max-width: 700px;
}

div.panel-create-post-heading {
  background: #fff;
  height: 50px;
}

div.panel-create-post-heading h3 {
  color: #cc00ff
}

div.panel-create-post {

}

div.panel-heading-create-account div.panel-heading,
div.login-panel div.panel-heading {
 background: #777 !important;
 color: #fff;
}

button.btn-login, button.btn-account-create {
  background: rgb(159, 175, 198);
  color: #fff;
}

/**********************  Panels setting *****************************/



.copy-right{
  width: 100%;
  text-align: center;
  font-weight: 600;
}









/*****************   FOOOTER  ************************************/


footer{ 
  min-height: 400px;
}

.footer-blocks{
  width: auto;
  float: left;
}

.flinks{
  display: block;
  max-width: 300px;
  width: auto;
  height: auto;
  float: left;
  padding: 0 10px;
}

.flinks li{
  list-style: none;
}

.flinks li a  {
  width: 100%;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #b3b3ff;
}

.flinks li a:hover {
  color: #fff;
}

.social-sharing {
  display: block;
  width: 100%;
}

.sm-links-block {
  float: right;
  margin: 25px;
}

ul.socialmedialinks {
  list-style-type: none;
  /*padding: 0;
  margin: 0;*/
}
.socialmedialinks li {
  display: inline-block;
}

.socialmedialinks li a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  background: rgb(242, 247, 244);
}

.tw-custom, .fb-custom, .gp-custom, .in-custom, .ln-custom {
  color: #538cc6;
}
 
.socialmedialinks li a:hover i {
 color: rgb(242, 247, 244);
}

.btn-twitter:hover, .btn-facebook:hover, .btn-googleplus:hover, .btn-instagram:hover, .btn-linkedin:hover  {
  background: #538cc6;
}


/*****************   /FOOOTER  *****************************************************************************************/


.pagin-post{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.post-body{
  max-height: 100px;
  color: #777;
  font-family: sans-serif;
}



.post-body pre{
  background: #FBFAE9;
  border: none;
}


article.main-post-body-wrapper{
  background: #ffffff;
}

article.main-post-body-wrapper h2 {
  padding: 5px 10px;
}


.post-body-main {
  background: #ffffff;
  padding:5px;
}


.post-body-main pre{
  background: #FBFAE9;
  border: none;
}

.post-body-main p{
  font-size: 1.4em;
  padding: 5px 10px;
  color: #404040;
}

.post-body-main pre code{
  color: #004080;
}

.col-md-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.catagories{
  display: block;
  width: 50px;
  height: 500px;
  border: solid 2px #333;
}

.test100 {
  margin-left: 50px;
  display: inline-block;
  float: left;
}

.test101 {
  width: 75%;
  float: left;
}

.test102 {
  width: 25%;
  height: 500px;
  border: solid 1px #333;
}


.header-logo {
  width: 100px;
  height: 60px;
  display: block;
  position: relative;
}

.header-logo::after {
  content: "";
  background: url("/packages/images/logo3.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}








/*******************  EXTRA SETTINGS ************************************/
/*
  .primary-nav .navbar-top > .open > a, 
  .primary-nav .navbar-top > .open > a:hover, 
  .primary-nav .navbar-top > .open > a:focus  {
    
    background-color: transparent;
   }*/

   

   
   .primary-nav .navbar-top > li .nav-item {
    padding-top: 20px;
   } 

  .dropdown-menu .divider {
    background-color: #888;
}
/******************************************************************************/


/*??????????????????????????????????????????????????????????????????????????????? */

/*??????????????????                     Testing                     ?????????????*/

/*???????????????????????????????????????????????????????????????????????????????*/


/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.c-hamburger {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  display: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}
/*+++++++++++++++++++++++++++++++++++++++*/

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}



/* *****************    PORTFOLIO SECTION  *************************/

.cover-letter  {
 margin-bottom: 100px !important;
}

 div.mainText {
  display: block;
  font-size: 1.1em !important; 
  font-weight: 400;
  line-height: 2.0em;
  margin: 0 auto;
  width: 70%;
  padding: 20px 50px; 
  background: #fff;
  color: #404040;
}


p.greetings {
 color: #;
}

.cover-letter h4 {
  margin-bottom: 30px;
}

  h2,  h4 {
  margin: 0 auto;
  width: 70%;
}

.main-post-body-wrapper h2{
  width: 100%;
}

.project1, .project3 {
  background: #fff !important;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none !important; 
}

/*.carousel-inner > .item > img{  
   height:400px !important;
   margin: 0 auto;
   width: 70%;
}*/

.projects-container>div{
  margin-bottom: 100px !important;
  border: solid 1px #b3b3ff;
}


.cv-holder{
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #b3b3ff;
    padding-bottom: 30px;
}


iframe.pdf-holder {
  border: none;
  width: 960px;
  height: 800px;
}

.file-title {
   margin: 30px 0px;
   text-align: center;
}

/* *****************    /PORTFOLIO SECTION *************************/


/*********    COMMON  CLASSES      ******************/

.text-align-center {
  width: 100%;
  text-align: center;
}

/*********    COMMON  CLASSES      ******************/



div.panels form {
    margin-top: 30px;
}


/*@@@@@@@@@@@@@@@@   MEDIA SCREENS        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


@media screen and (min-width: 1000px) and (max-width: 1340px) {
   iframe.pdf-holder {
    width: 900px;
    height: 1000px;  
   }

   
}


@media only screen and (min-width: 768px) and (max-width: 999px) {
   iframe.pdf-holder {
    width: 760px;
    height: 900px;  
   }

   .cv-holder{
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: scroll;
   }

   div.mainText {
      margin: 0 auto; 
      width: 100%;   
      padding: 10px 10px;
   }

   article.main-post-body-wrapper {
     width: 95%;
   }

  .c-hamburger.c-hamburger--htx{
      display: none;   
   }


}

@media only screen and (min-width: 480px) and (max-width: 767px) {
   iframe.pdf-holder {
    width: 470px;
    height: 600px;  
   } 

   .cv-holder{
    margin: 0;
    width: 100%;
    text-align: center;
   }

   div.mainText {
      margin: 0 auto; 
      width: 100%;   
      padding: 10px 10px;

   }

   div.panels form {
    margin: 20px;
  }

   div.panels {
    width: 90%;
  }
 
}


@media screen and (min-width: 375px) and (max-width: 479px) {
  div.mainText {
    margin: 0 auto;
    width: 100%;
    padding: 15px 5px;

   }

   iframe.pdf-holder {
    margin: 0;
    width: 360px;
    height: 500px;  
    text-align: center;
   }

   .cv-holder{
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: scroll;
   }

 
}


@media screen and (min-width: 280px) and (max-width: 374px) {
  div.mainText {
    margin: 0 auto;
    width: 100%;
    padding: 15px 5px;

   }


   iframe.pdf-holder {
    margin: 0;
    width: 360px;
    height: 450px;  
    text-align: center;

   }

   .cv-holder{
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: scroll;
   }

}


@media only screen and (min-width: 960px) {
   
   .carousel-inner > .item > img{  
      height: auto !important;
      margin: 0 auto;  
      width: 70%;
   }

}





@media screen and (min-width: 200px) and (max-width: 279px) {
  div.mainText {
    margin: 0 auto;
    width: 100%;
    padding: 10px 5px;

   }

    iframe.pdf-holder {
      width: 190px;
      height: 300px;  
      text-align: center;
   }

   .cv-holder{
     width: 100%;
     text-align: center;
   }

}


@media screen and (max-width: 1000px) {  
   .navbar-top {
    /*display: none;*/
   }
   .top-container {
      transition: all 0.5s ease;
      /*background: #4d1a00;*/
      background: #4d7380;
      padding: 10px;
    }

  /*.top-container .primary-nav .navbar-top > li:hover a  {
     color: orange;
   }*/

    .dropdown-menu {
      margin-left: 5%;
    }
    .dropdown-menu .divider {
      background-color: #888;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        font-weight:  500;     
    }

    /* .navbar-default .navbar-nav .open .dropdown-menu > li:hover > a {
        color: orange;   
    }*/

   .sm-links-block {
     float: left;
   }

}


@media screen and (max-width: 768px) {
   nav.primary-nav{
    padding-left: 0px;
    padding-right: 0px;
   }

    article.main-post-body-wrapper {
     width: 99%;
   }

   .c-hamburger.c-hamburger--htx{
      display: block;
      float: right;
   }

    .posts-row-wrap{
      height: auto;
      margin-bottom: 0;
   }

   .posts-row{
      height: auto;
   }

   .article-blocks{
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      overflow: hidden;
   }
}

@media screen and (max-width: 780px) {
    .posts-row-wrap{
      height: auto;
      margin-bottom: 0;
   }

   .posts-row{
      height: auto;
   }

   .article-blocks{
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      overflow: hidden;
   }

    div.post-title-header a {
      font-size: 2em;
   }

}

@media screen and (max-width: 479px) {
  .home-container {
     margin: 0 auto;
     width: 98%;
  }

  .contact-me>div {
    width: 100%;
    display: block;
  }

  .contact-me-img img{
    float: none;
  }
  .contact-me{
    text-align: center;
    padding: 15px 2px;
  }

  div.panels {
    width: 100%;
  }

  div.panels form {
    margin-left: 0;
    margin-right: 0;
  }
  
}







/*@@@@@@@@@@@@@@@@   / MEDIA SCREENS        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



